/* body{
    background-color: bisque;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3 ;
    padding-top: 50px;
    background: url('/developer.png'),url('/header_bg.png'),#FFF8F3 ;
    background-repeat: no-repeat;
    background-position: left 40%, 100% 100%;
    
}
nav{
    width: 85%;
    max-width: 2381px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;

}
.color-orange{
    color: #FD6E0A;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 55px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: red;
}
.btn{
    background-color: #FD6E0A ;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}
.section-heading{
    max-width: 1140px;
    text-align: center;
    margin:  0 auto;
}
.section-heading h2{
   font-size: 35px;
   margin-bottom: 25px;
}
.section-heading p{
   font-size: 20px;
   margin-bottom: 20px;
   line-height: 30px;
   margin: 0 auto;
   max-width: 900px;
}


#banner{
    margin:  30px 15px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px ;
}
#banner .banner-content{
    max-width: 600px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    text-align: justify;
    width: 900px;
}
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
   margin-bottom: 18px;
}

#banner .banner-image img{
   vertical-align: bottom;
   height: 700px;
}
#about, #resume,{
    padding-top: 130px;
}

#about .about-container{
    width: 80%;
    max-width: 1140px;
   margin: 0 auto;
   text-align: center;
   justify-content: center;
   background-color : #FFF8F3;
   padding: 120px;
}
#about .about-info{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
}
#skills{
    padding-top:120px;
}
#skills .skills-container{
    width: 80%;
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 20px;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    box-shadow: 0 6px 60px #ff000027;
    border-radius: 5px;
    max-width: 300px;
}
.skill-card img{
    max-width: 40px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
    font-size: 18px;
    color:#757575;
   line-height: 28px;
}
.skill-box{
    margin-top: 20px;
}
#resume .resume-container{
    display: flex;
    width : 80%;
    margin: 100px auto 0;
    gap: 24px;
    max-width: 1140px;
}
.resume-container .section-title{
    font-size: 30px;
    margin-bottom: 30px;
    color: #474747;
}
.resume-card h3{
    font-size: 25px;
    padding-bottom:10px;
    font-weight: bold;
    color: #474747;
    
}
.resume-card .card-info{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #474747;

}
.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 30px;
    color: #474747;
}

hr{
    margin-bottom: 30px;
}
#download{
    max-width: 1140px;
    margin: 0 0 0 45%;
    
}

