/* body{
    background-color: bisque;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3 ;
    padding-top: 50px;
    
}
nav{
    width: 80%;
    max-width: 2381px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    

}
.color-orange{
    color: #FD6E0A;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 55px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: red;
}
.btn{
    background-color: #FD6E0A ;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
}

#banner{
    margin:  47px 185px 0px 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    font-size: 45px;
    font-size: 600;
    color: #474747;
    margin-bottom: 5px ;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color:#757575;
   margin-bottom: 18px;

}
